[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/jwfromm/tensorflow.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "tvm"]
	path = tvm
	url = https://github.com/jwfromm/tvm.git
[submodule "Halide"]
	path = Halide
	url = https://github.com/jwfromm/Halide.git
